@{
    ViewBag.Title = "Home Page";
}
<header>
    <img class="logo" src="/Content/img/kazillian-logo-large.png" alt="">
    <span class="tagline">A Virtually Endless Sales Team<br> at Your Finger Tips</span>
    <form class="header-form" action="">
        <div>
            <input class="header-form-input" type="text">
            <a class="submit header-form-submit" href="">Get Started</a>
        </div>
    </form>
</header>
<div class="row step">
    <div class="col-xs-12">
        <div class="container">
            <div class="row">
                <h2 class="col-xs-12 text-center">How it Works</h2>
                <div class="col-xs-6">
                    <h2 class="">Easily Find Talented Salepeople</h2>
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eveniet cupiditate ratione quisquam quos odio deserunt eos sit veniam, iste maxime dolore, laboriosam temporibus cum non neque aut, libero at!</span><span>Totam repellat laboriosam praesentium voluptate, nisi vitae quia, tempora assumenda sequi reiciendis natus cupiditate. Vero vitae, illo quasi impedit recusandae! Earum voluptates ipsa, similique fugit omnis qui quia officiis soluta!</span></p>
                </div>
                <div class="col-xs-6">
                    <img src="/Content/img/step1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row step">
    <div class="col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <h2 class="">Hire the Best People for the Job</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sed, necessitatibus tempore possimus veniam quisquam amet suscipit expedita nobis praesentium omnis alias odio, voluptas perferendis earum, delectus quis voluptatibus accusantium.</p>
                </div>
                <div class="col-xs-6">
                    <img src="/Content/img/step2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row step">
    <div class="col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2 class="">Monitor Progress and Work Efficiently</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id vel aliquid, ea non amet sint maxime nesciunt soluta ut ullam voluptatem deleniti vero perspiciatis voluptate, modi, nobis ipsa magnam tenetur.</p>
                </div>
                <div class="col-xs-6">
                    <img src="/Content/img/step3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row step">
    <div class="col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 pull-right">
                    <h2 class="">Pay Easily and Securely</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veniam quidem, quaerat optio quam error aliquid veritatis culpa porro sint quo dolores sunt doloribus debitis, eum eveniet distinctio illum corporis?</p>
                </div>
                <div class="col-xs-6">
                    <img src="/Content/img/step4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.header-form-input').on('keydown', function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                searchSellers($(this).val());
            }
        })
        $('.header-form-submit').click(function (e) {
            e.preventDefault();
            var query = $('.header-form-input').val();
            if (query && query.length > 0) {
                searchSellers(query);
            }
        });
    
    </script>}